html{
    margin-left: 300px;
    background-color: #2b2b2b;
    color: white;
}

.before::before{
    content: '❤';
    margin: 5px;
}

.after::after{
    content: '❤';
    margin: 5px;
}
.firstLine::first-line{
    background-color: darkcyan;
}
.firstLetter::first-letter{
    color: darkcyan;
    font-size: 4rem;
}

.selection::selection{
    background-color:darkcyan;
}

ul li::marker{
    color: darkcyan;
}

input::placeholder{
    color: darkcyan;
}